@charset "UTF-8";
@import url(reset.css);
@import url(font.css);
body {
  --gap1:5rem;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.centerbox {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 50px;
}

header {
  height: 95px;
  position: relative;
  z-index: 10;
}
header .centerbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 2rem;
  width: 70px;
  margin-right: 3vw;
}
header h1 img {
  width: 100%;
}
header nav.pc_nav {
  position: relative;
}
header nav.pc_nav .gnb {
  display: flex;
  font-size: 1.8rem;
  position: relative;
  z-index: 3;
}
header nav.pc_nav .gnb > li {
  position: relative;
  padding: 1rem 1vw;
}
header nav.pc_nav .gnb > li:hover a {
  background: #ffd993;
  border-radius: 0.5rem;
}
header nav.pc_nav .gnb > li > a {
  display: block;
  padding: 1rem 1.34vw;
  border-radius: 5px;
}
header nav.pc_nav .gnb > li .lnb {
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
  left: 0;
}
header nav.pc_nav .gnb > li .lnb li {
  text-align: center;
  padding: 0.7rem 0.34vw;
}
header nav.pc_nav .gnb > li .lnb li a {
  display: block;
  padding: 1.3rem 0;
  border-radius: 5px;
}
header nav.pc_nav .gnb > li .lnb li:hover a {
  background: #ff9558;
  border-radius: 0.5rem;
}
header nav.pc_nav .gnb > li:nth-child(2) li:hover a {
  background: #5cd152;
}
header nav.pc_nav .gnb > li:nth-child(3) li:hover a {
  background: #44c5b0;
}
header nav.pc_nav .gnb > li:nth-child(4) li:hover a {
  background: #81a9ff;
}
header nav.pc_nav .gnb > li:nth-child(5) li:hover a {
  background: #bc52d1;
}
header nav.pc_nav .lnb_bg {
  position: absolute;
  width: 100%;
  background: #FFFAE5;
  top: 0;
  border-radius: 1.4rem;
  display: none;
  z-index: 1;
}
header .login_box {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  justify-content: flex-end;
}
header .login_box a.login_after {
  display: none;
}

.mobile_header {
  display: none;
}

#visual {
  height: calc(100vh - 95px);
  margin-bottom: 12.5rem;
  position: relative;
}
#visual .cloud {
  position: absolute;
  bottom: -2px;
  width: 102%;
  z-index: 77;
}
#visual .cloud .cloud1 {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  animation: cloud1 2s infinite linear alternate;
}
@keyframes cloud1 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -50px;
  }
}
#visual .cloud .cloud2 {
  position: absolute;
  width: 100%;
  height: 203px;
  background: url("../images/visual_motion.png");
  z-index: 77;
  bottom: -100px;
  left: 0;
  animation: cloud2 5s infinite linear;
}
@keyframes cloud2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4281px 0;
  }
}
#visual .cloud .c2 {
  animation-delay: 2s;
  opacity: 0.5;
}
#visual .text {
  width: 30%;
  text-align: left;
  word-break: keep-all;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transform: translate(-100%, -80%);
}
#visual .text strong {
  font-size: 4.2vw;
  position: relative;
  opacity: 0;
  color: #fff;
}
#visual .text p {
  font-size: 2.5rem;
  position: relative;
  opacity: 0;
  color: #fff;
  margin-top: 2rem;
}
#visual .swiper-slide.on strong {
  animation: visualText 1s forwards;
  opacity: 0;
}
#visual .swiper-slide.on p {
  animation: visualText 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
@keyframes visualText {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
#visual .swiper-slide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(35, 68, 41, 0.3);
  left: 0;
  top: 0;
}

#section_box #section1 {
  padding: 12.5rem 0;
}
#section_box #section1 .centerbox {
  display: flex;
  gap: var(--gap1);
  position: relative;
}
#section_box #section1 .centerbox .text {
  width: 315px;
  flex-shrink: 0;
}
#section_box #section1 .centerbox .text em {
  font-style: normal;
  font-size: 4.5rem;
  word-break: keep-all;
  font-family: "LINESeedKR-Rg";
  color: #E97045;
}
#section_box #section1 .centerbox .text .btn_box1 {
  display: flex;
  gap: 3rem;
  margin-top: 4.4rem;
}
#section_box #section1 .centerbox .text .btn_box1 .btn_left {
  width: 11.1rem;
  height: 8rem;
  background: #A3D2B2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0;
  cursor: pointer;
}
#section_box #section1 .centerbox .text .btn_box1 .btn_right {
  width: 11.1rem;
  height: 8rem;
  background: #5DB8A6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 3rem;
  cursor: pointer;
}
#section_box #section1 .centerbox .slide_box {
  width: calc(100% + (100vw - 100%) / 2 - 365px);
  flex-shrink: 0;
}
#section_box #section1 .centerbox .slide_box h3 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #484646;
}
#section_box #section1 .centerbox .slide_box p {
  font-size: 2rem;
  text-align: left;
  color: #484646;
}
#section_box #section2 {
  padding: 12.5rem 0;
  position: relative;
}
#section_box #section2 .centerbox {
  display: flex;
  gap: var(--gap1);
  align-items: center;
}
#section_box #section2 .cloud1 {
  position: absolute;
  top: 0;
  right: 1200px;
  animation: doong 2s infinite alternate;
}
#section_box #section2 .cloud2 {
  position: absolute;
  top: 100px;
  right: 1030px;
  animation: doong 2s infinite alternate;
  animation-delay: 0.2s;
}
@keyframes doong {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 30px;
  }
}
#section_box #section2 .tree1 {
  position: absolute;
  bottom: 0;
  right: 300px;
  overflow: hidden;
  width: 45px;
  height: 90px;
}
#section_box #section2 .tree1 img {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateX(96deg);
  transform-origin: bottom;
}
#section_box #section2 .tree1 img.on {
  animation: tree 1s ease-in forwards;
}
#section_box #section2 .tree2 {
  position: absolute;
  bottom: -200px;
  right: 70px;
  width: 154px;
  height: 181px;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
}
#section_box #section2 .tree2 img {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateX(99deg);
  transform-origin: bottom;
}
#section_box #section2 .tree2 img.on {
  animation: tree 1s ease-in forwards;
  animation-delay: 0.2s;
}
@keyframes tree {
  0% {
    transform: rotateX(97deg);
  }
  40% {
    transform: rotateX(-60deg);
  }
  60% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-10deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
#section_box #section2 .text {
  width: 100%;
  position: relative;
}
#section_box #section2 .text em {
  font-style: normal;
  font-size: 4.5rem;
  word-break: keep-all;
  font-family: "LINESeedKR-Rg";
  color: #E97045;
}
#section_box #section2 .text p {
  font-size: 3rem;
  color: #484646;
}
#section_box #section2 .text .btn_box2 .btn_more {
  margin-top: 4.4rem;
  font-size: 3rem;
  padding: 1rem 0;
  width: 25rem;
  background: #E97045;
  border-radius: 1.5rem;
  color: #fff;
  display: block;
  text-align: center;
}
#section_box #section2 .content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: flex-end;
}
#section_box #section2 .content li {
  width: 35%;
  gap: 4.4rem;
  border-radius: 4rem 0;
  background: #FFFAE5;
  padding: 3rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}
#section_box #section2 .content li:first-child {
  position: relative;
  top: 250px;
}
#section_box #section2 .content li a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#section_box #section2 .content li a .subject {
  background: #5DB8A6;
  color: #fff;
  font-size: 2rem;
  padding: 0.9rem 2.8rem;
  border-radius: 100px 0;
}
#section_box #section2 .content li a p {
  font-size: 2rem;
  margin: 2.5rem 0;
  line-height: 1.8;
  word-break: keep-all;
}
#section_box #section2 .content li a p span {
  font-size: 2.5rem;
  color: #E97045;
}
#section_box #section2 .content li a figure {
  width: 180px;
  align-self: flex-end;
}
#section_box #section2 .content li a figure img {
  width: 100%;
}
#section_box #section3 {
  padding: 12.5rem 0;
}
#section_box #section3 .centerbox {
  display: flex;
  gap: var(--gap1);
  align-items: center;
}
#section_box #section3 .centerbox figure {
  padding: 5rem;
  position: relative;
  width: 100%;
}
#section_box #section3 .centerbox figure:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  background: #FFFAE5;
  left: 0;
  top: 0;
}
#section_box #section3 .centerbox figure img {
  position: relative;
  z-index: 2;
  width: 100%;
}
#section_box #section3 .centerbox .text em {
  font-style: normal;
  font-size: 4.5rem;
  word-break: keep-all;
  font-family: "LINESeedKR-Rg";
  color: #E97045;
}
#section_box #section3 .centerbox .text p {
  font-size: 3rem;
  color: #484646;
}
#section_box #section3 .centerbox .text .btn_box2 .btn_more {
  margin-top: 4.4rem;
  font-size: 3rem;
  padding: 1rem 0;
  width: 25rem;
  background: #E97045;
  border-radius: 1.5rem;
  color: #fff;
  display: block;
  text-align: center;
}
#section_box #section4 {
  padding: 12.5rem 0 25rem 0;
  position: relative;
}
#section_box #section4 .bg {
  position: absolute;
  width: 100%;
  height: 520px;
  background: #A3D2B2;
  bottom: -300px;
  left: 0;
  transition: 5s;
}
#section_box #section4 .bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 117px;
  left: 0;
  top: -110px;
  background: url("../images/bg4_wave.png");
  animation: bg4Wave 10s infinite linear;
}
@keyframes bg4Wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1923px 0;
  }
}
#section_box #section4 .bg.on {
  bottom: 0px;
}
#section_box #section4 .centerbox {
  position: relative;
  z-index: 2;
}
#section_box #section4 .centerbox h2 {
  font-style: normal;
  font-size: 4.5rem;
  word-break: keep-all;
  font-family: "LINESeedKR-Rg";
  color: #E97045;
  text-align: center;
  margin-bottom: 14rem;
}
#section_box #section4 .centerbox .btn_more {
  width: 5rem;
  height: 5rem;
  background: #F0AF64;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 0;
}
#section_box #section4 .centerbox .content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
#section_box #section4 .centerbox .content li {
  width: 25%;
  gap: 4.4rem;
  border-radius: 4rem 0;
  background: #FFFAE5;
  padding: 3rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}
#section_box #section4 .centerbox .content li a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
#section_box #section4 .centerbox .content li a .subject {
  background: #5DB8A6;
  color: #fff;
  font-size: 2rem;
  padding: 0.9rem 2.8rem;
  border-radius: 100px 0;
}
#section_box #section4 .centerbox .content li a h3 {
  font-size: 2.4rem;
  margin: 3rem 0;
}
#section_box #section4 .centerbox .content li a p {
  font-size: 2rem;
  margin: 0 0 2.5rem 0;
  line-height: 1.8;
  word-break: keep-all;
  flex-grow: 1;
}
#section_box #section4 .centerbox .content li a p span {
  font-size: 2.5rem;
  color: #E97045;
}
#section_box #section4 .centerbox .content li a figure {
  width: 180px;
  align-self: flex-end;
}
#section_box #section4 .centerbox .content li a figure img {
  width: 100%;
}
#section_box #section4 .centerbox .content li a figure .name {
  font-size: 1.6rem;
  margin-top: 1rem;
  text-align: right;
}

footer {
  background: #A3D2B2;
  height: 330px;
}

.road {
  position: absolute;
  top: calc(100vh + 200px);
  right: 0;
  width: 100%;
  z-index: -1;
  display: none;
  /* 
  올드카 & 중장비

  .line2 {stroke-dashoffset: 0px; stroke-dasharray: 15px 5000px; stroke-linecap: square; stroke:#ff944f; stroke-width: 20px;}
      .line3 {stroke-dashoffset: 0px; stroke-dasharray: 15px 4960px; stroke-linecap: square; stroke:#ce7a46; stroke-width: 20px;}
      .line4 {stroke-dashoffset: 0px; stroke-dasharray: 10px 4980px; stroke-linecap: square; stroke:#773c15; stroke-width: 15px;}
      .tire1 {stroke-dashoffset: 0px; stroke-dasharray: 1px 4980px; stroke-linecap: square; stroke:#000; stroke-width: 26px; right: -20px; z-index: 0;}
      // .tire2 {stroke-dashoffset: 0px; stroke-dasharray: 10px 4980px; stroke-linecap: round; stroke:red; stroke-width: 15px; right: -10px; z-index: 0;}


  트레일러
  .doro_line {position: absolute; top: 20px; right: -20px;}
      .line2 {stroke-dashoffset: 0px; stroke-dasharray: 6px 5000px; stroke-linecap: square; stroke:#ff944f; stroke-width: 20px;}
      .line3 {stroke-dashoffset: 0px; stroke-dasharray: 6px 4975px; stroke-linecap: square; stroke:#ce7a46; stroke-width: 20px;}
      .line4 {stroke-dashoffset: 0px; stroke-dasharray: 10px 4980px; stroke-linecap: square; stroke:#773c15; stroke-width: 15px;}
      .tire1 {stroke-dashoffset: 0px; stroke-dasharray: 1px 4950px; stroke-linecap: square; stroke:#000; stroke-width: 26px; right: -20px; z-index: 0;}


  */
}
.road .doro {
  position: absolute;
  right: -20px;
  stroke-dashoffset: 0px;
  stroke-dasharray: 0px;
}
.road .doro_line {
  position: absolute;
  top: 20px;
  right: -20px;
}
.road .line2 {
  stroke-dashoffset: 0px;
  stroke-dasharray: 15px 4990px;
  stroke-linecap: square;
  stroke: #ff944f;
  stroke-width: 20px;
}
.road .line3 {
  stroke-dashoffset: 0px;
  stroke-dasharray: 15px 4960px;
  stroke-linecap: square;
  stroke: #ce7a46;
  stroke-width: 20px;
}
.road .line4 {
  stroke-dashoffset: 0px;
  stroke-dasharray: 10px 4980px;
  stroke-linecap: square;
  stroke: #773c15;
  stroke-width: 15px;
}
.road .tire1 {
  stroke-dashoffset: 0px;
  stroke-dasharray: 1px 4980px;
  stroke-linecap: square;
  stroke: #2b312e;
  stroke-width: 24px;
  right: -20px;
}
.road .tire2 {
  stroke-dashoffset: 0px;
  stroke-dasharray: 1px 5010px;
  stroke-linecap: square;
  stroke: #2b312e;
  stroke-width: 24px;
  right: -20px;
}

.page_progress {
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transform: translate(0, -50%);
  position: fixed;
  width: 15px;
  height: 200px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 777;
  display: none;
  transition: 1s;
}
.page_progress span.bar {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, #00f238, #0048ff);
  bottom: 0;
}
.page_progress span.bar:before, .page_progress span.bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: -10px;
  background: url("../images/wave.png");
  animation: wave 0.5s infinite linear;
  background-repeat: repeat-x;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -38px 0;
  }
}
.page_progress span.bar:after {
  animation-delay: 0.25s;
  opacity: 0.5;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-pagination {
  bottom: 80px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev {
  left: 50px !important;
}

.swiper-button-next {
  right: 50px !important;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 40px;
}

@media screen and (max-width: 1600px) {
  .page_progress {
    position: absolute;
    left: 50px;
    top: 10%;
    z-index: 1;
    transform: translate(0, -50%);
  }
}/*# sourceMappingURL=style.css.map */